body {
  background: #eee;
  font-family: sans-serif;
  margin: 8px, auto;

}

.card, .button {
  background: hwb(0 100% 0%);
}

.card {
  width: 400px;
  padding: 8px;
}

.title, .button-container, .content {
  background: #e3f4ff;
}

.title {
  font-size: 16px;
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.content {
  margin: 16px 8px;
}

.button-container {
  text-align: center;
  padding: 8px;


}

button {
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 8px 24px;
  display: block;
}